{{#eq items.0.selectedDeliveryChannel "pickup-in-point"}}
  <div class="bg-light-gray  pa3 mw6 mb3 ba br2 b--moon-gray">
        <img class="pa1 db" src="http://carrefourbr.vteximg.com.br/arquivos/et-retire-txt.png"
          alt="Retire na Loja" />
    <p class="mt1 mb2">((i18n.shipping.pickup))</p>
    <!-- partial:address-pickup-info.hbs --><!-- partial -->
  </div>
{{/eq}}
