<td>
    <table class="center">
        <tr class="footer">
            <td class="">
                <p class="pt2"><strong>Ficou alguma dúvida?</strong></p>
                <p><a>3004-2222</a> para regiões metropolitanas
                    <br />
                    <a>0800-718-2222</a> para demais localidades.</p>
                <p><strong>Atendimento:</strong><br />
                    Todos os dias das 08h às 21h*<br />
                    <small>*Horário de Brasília</small></p><br />
                <hr>
                <p><strong>Nossas redes socias</strong></p>
            </td>
        </tr>
        <tr class="footer">
            <td class="social">
                <a href="https://www.facebook.com/CarrefourBR/">
                    <img class="ph3 pb3"
                        src="https://carrefourbr.vteximg.com.br/arquivos/et-facebook.png"
                        alt="Facebook" />
                </a>
                <a href="https://twitter.com/carrefourbrasil">
                    <img class="ph3 pb3"
                        src="https://carrefourbr.vteximg.com.br/arquivos/et-twitter.png"
                        alt="Twitter" />
                </a>
                <a href="https://www.instagram.com/carrefourbrasil/">
                    <img class="ph3 pb3"
                        src="https://carrefourbr.vteximg.com.br/arquivos/et-instagram.png"
                        alt="Instagram" />
                </a>
                <a href="https://www.youtube.com/user/carrefourbrasil">
                    <img class="ph3 pb3"
                        src="https://carrefourbr.vteximg.com.br/arquivos/et-youtube.png"
                        alt="Youtube" />
                </a>
            </td>
        </tr>
        <tr class="footer mw6">
            <td class="politicas mw6 pb5">
                <p class="mw6 ph4 center"><strong>Fique atento:</strong> nunca enviamos e-mails que contenham anexos ou
                    links para
                    download. Nossos
                    e-mails contêm apenas links para o nosso próprio site.</p>
                <p class="mw6 ph4 center">Veja nossas políticas:<br>
                    <a href="https://www.carrefour.com.br/politica-de-cancelamento-e-ressarcimento">Política de Cancelamento</a>, <a href="https://www.carrefour.com.br/politica-de-trocas-e-devolucoes">Política de Troca e Devolução</a>.<br />
                    <a href="https://www.carrefour.com.br/termos-de-uso">Confira o Contrato de Compra e Venda</a>.</p>
            </td>
        </tr>
    </table>
</td>