<div class="bg-light-gray pa3 mw6 mb3 ba br2 b--moon-gray">
    <p class="mv1 mr5">
        Você receberá por email o seu bilhete de Garantia Estendida quando a Nota Fiscal da sua compra for emitida ou
        também
        poderá acessá-lo através do nosso site.
    </p>
</div>