<tr class="w-100">
  <td>
    <table class="header w-100">
      <tr>
        <td class="tc">
          <img
            style="margin: 20px 0"
            src="https://i.ibb.co/qWFZTWK/brahma-logo.png"
          />
        </td>
        <td
          colspan="1"
          style="height: 4px; color: #0062AC; font-weight: 700"
        >CHOPPS</td>
        <td
          colspan="1"
          style="height: 4px; color: #0062AC; font-weight: 700"
        >BEBIDAS</td>
        <td
          colspan="1"
          style="height: 4px; color: #0062AC; font-weight: 700"
        >ACESSÓRIOS E SERVIÇOS</td>
      </tr>
      <tr>
        <td style="padding: 0 0 0 28px">
          <hr class="line" />
        </td>
        <td style="padding: 0;">
          <hr class="line" />
        </td>
        <td style="padding: 0;">
          <hr class="line" />
        </td>
        <td style="padding: 0 28px 0 0">
          <hr class="line" />
        </td>
      </tr>
    </table>
  </td>
</tr>