<tr>
  <td class="ph4">
    <p class="pb2" style="font-size: 15px">((i18n.order.introMessage))</p>
    <p class="pb2" style="font-size: 15px">((i18n.order.introMessage2))</p>
    <p class="pb2" style="font-size: 15px">((i18n.order.introMessage3))</p>
  </td>
</tr>