<div class="mt4 mb4 w5 center">
  <a href="https://www.carrefour.com.br/?ak-testab=vtex">
    <img class="carrefourLogo" alt="" border="0" width="auto" alt="Carrefour"
      src="http://carrefourbr.vteximg.com.br/arquivos/et-carrefour.png">
  </a>
</div>