<tr>
  <td class="ph4">
    <h2
      class="b pt3"
      style="color: #373737; font-size: 30px; line-height: 30px"
    >((i18n.common.order)):
      <span class="fw6">{{orderId}}</span>
    </h2>
    <p class="pb2" style="font-size: 15px">
      ((i18n.order.orderPlaced))
      <strong>{{formatDate creationDate}}</strong>
    </p>
  </td>
</tr>
