<tr>
  <td class="ph4">
    <p class="pb2" style="font-size: 15px"><strong>((i18n.common.didYouKnow))</strong> ((i18n.common.cancelationInstructions)) ((i18n.common.cancelationInstructions2)) "<strong>((i18n.common.myAccount))</strong>" ((i18n.common.cancelationInstructions3))</p>
    <p class="pb2" style="font-size: 15px"></p>
  </td>
</tr>