<tr>
  <td class="ph4">

    <p class="pb2" style="font-size: 15px">Seu pedido <strong>{{orderId}}</strong> foi entregue por nossa loja. Agora, é só aproveitar com os amigos!</p>

  </td>
</tr>
<tr>
  <td class="ph4">

    <p class="pb2" style="font-size: 15px">((i18n.shipping.deliveredDescription))</p>

  </td>
</tr>
<tr>
  <td class="ph4">

    <p class="pb2" style="font-size: 15px">((i18n.shipping.rateMessage))</p>

  </td>
</tr>