<p>Parece que houve algum problema com seu pagamento.</p>
<dl>
    <dt>
        <p>Saiba alguns dos motivos pelos quais seu pedido pode ter sido não aprovado:</p>
    </dt>
    <dd class="ml0 f7">
        - Seu cartão pode ser novo e ainda estar bloqueado <strong>(Neste caso contate a bandeira do seu cartão)</strong>
    </dd>
    <dd class="ml0 f7">
        - Cartão bloqueado para transações online <strong>(Neste caso contate a bandeira do seu cartão)</strong>
    </dd>
    <dd class="ml0 f7">
        - Transação não aprovada pelo banco <strong>(Neste caso contate a institução administradora do mesmo)</strong>
    </dd>
    <dd class="ml0 f7">
        - Cartão vencido <strong>(Verifique se seu cartão não se encontra com o prazo de validade vencido)</strong>
    </dd>
</dl>