<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office"
    xmlns:v="urn:schemas-microsoft-com:vml">
<!-- partial:partials/html-head.hbs -->
<!-- partial -->

<body>
    <table id="body-table" width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td align="center" valign="top">
                <table class="w-100 mw6-5 mv4-ns bg-white" width="100%" align="center" border="0" cellpadding="0"
                    cellspacing="0">

                    <!-- Header -->

                    <tr>
                        <td class="w-100 bt b--light-gray bw3">
                            <!-- partial:partials/logo.hbs -->
                            <!-- partial -->
                        </td>
                    </tr>

                    <!-- Intro message -->
                    <!-- Header -->
                    <tr>
                        <td class="w-100 b--light-gray tc">
                            <a class="containerCarina"
                                href="https://api.whatsapp.com/send?phone=551130042222=Ol%C3%A1,%20eu%20sou%20a%20Carina,%20assistente%20virtual%20do%20Carrefour.%20Precisa%20de%20ajuda?%20Manda%20um%20%22Oi%22%20pra%20mim">
                                <div class="containerCarina ma0 white bg-custom-red">
                                    <strong>((i18n.payment.denied))</strong> <br>
                                    <!-- partial:partials/messages/order-reference.hbs -->
                                    <!-- partial -->
                                </div>
                            </a>

                        </td>
                    </tr>

                    <tr>
                        <td class="w-100 pa4 bt b--light-gray bw3">
                            <p>
                                <!-- partial:partials/messages/hi.hbs -->
                                <!-- partial -->
                                <!-- partial:partials/messages/denied.hbs -->
                                <!-- partial -->
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <img class="w-100 bt b--light-gray bw3"
                                src="https://carrefourbr.vteximg.com.br/arquivos/et-header-pgnotconf.png" />
                        </td>
                    </tr>

                    <!-- Shipping Summary -->
                    <tr>
                        <td class="w-100 ph4 pv4 bt b--light-gray bw3">
                            <h3>((i18n.shipping.summaryTitle))</h3>
                            <!-- partial:partials/shipping-summary.hbs -->
                            <!-- partial -->
                        </td>
                    </tr>

                    <!-- Payment - not splitted -->
                    {{#compare split "!=" true}}
                    <tr>
                        <td class="w-100 pa4 bt bb b--light-gray bw3">
                            <table>
                                <tr class="w-50">
                                    <td class="payment pb1">
                                        <h3 class="mt0 mb2">((i18n.payment.title))</h3>
                                        {{#each paymentData.transactions}}
                                        <!-- partial:partials/payment.hbs -->
                                        <!-- partial -->
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="dib mt2 pv1 ph3 bg-custom-red white f6">
                                            <strong>((i18n.payment.buttonDenied))</strong></div>
                                    </td>
                                </tr>
                            </table>
                            {{/each}}
                        </td>
                    </tr>
                    {{/compare}}

                    <!-- Order info -->
                    <tr>
                        <td class="w-100 pa4 bt b--light-gray bw3">
                            <h3>((i18n.common.order)) <span class="fw6">#{{sequence}}</span></h3>
                            <p class="mt0 gray">((i18n.package.seller)) <strong>{{sellers.0.name}}</strong></p>

                            <!-- Payment - splitted -->
                            {{#compare split "==" true}}
                            <div class="fl w-100 w-50-ns pb3 v-top">
                                <h3>((i18n.payment.title))</h3>
                                {{#each paymentData.transactions}}
                                <!-- partial:partials/payment.hbs -->
                                <!-- partial -->
                                <div class="dib mt2 pv1 ph2 bg-moon-gray f6">((i18n.payment.pending))</div>
                                {{/each}}
                            </div>
                            {{/compare}}

                            <!-- partial:partials/totals.hbs -->
                            <!-- partial -->

                            {{#richShippingData shippingData}}
                            {{#group logisticsInfo by="addessId"}}
                            <div class="cb fn pt3">

                                <!-- Address info -->
                                <!-- partial:partials/address-delivery-title.hbs -->
                                <!-- partial -->
                                <!-- partial:partials/address-pickup-title.hbs -->
                                <!-- partial -->

                                <!-- Packages -->
                                {{#group items by="packageId"}}
                                {{#compare item.length '>' 1}}
                                <h3 class="mb2">((i18n.package.title)) {{#math index '+' 1}}{{/math}}</h3>
                                {{/compare}}

                                <!-- partial:partials/package.hbs -->
                                <!-- partial -->
                                {{/group}}
                            </div>
                            {{/group}}
                            {{/richShippingData}}
                        </td>
                    </tr>

                    <tr>
                        <td class="ph4-ns mw6 ph4 pb3 mb3">
                            <!-- partial:partials/messages/regards.hbs -->
                            <!-- partial -->
                        </td>
                    </tr>

                    <tr class="w-100 ph4-ns bt bb b--light-gray bw3 mw6">
                        <!-- partial:partials/footer.hbs -->
                        <!-- partial -->
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>